# lixo de runtime
.zcompdump*
.zsh_history
config/firefox-dev-profile/

# thumbs e binários
**/*.png
**/*.jpg
**/*.jpeg
**/*.webp

# lockfiles de runtime (deixe o lazy-lock do nvim se quiser versionar)