# Code - OSS: manter só User/settings.json
config/Code - OSS/*
!config/Code - OSS/User/
config/Code - OSS/User/*
!config/Code - OSS/User/settings.json
# Code - OSS: manter só User/settings.json
config/Code - OSS/*
!config/Code - OSS/User/
config/Code - OSS/User/*
!config/Code - OSS/User/settings.json

Code - OSS/*
!Code - OSS/User/
Code - OSS/User/*
!Code - OSS/User/settings.json
